<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>MS Dynamics CRM Metadata Browser</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <script src="https://ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.8.3.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="../Styles/stylesheet.css" />
</head>
<body>
    <header>
        <md-toolbar class="md-primary">
            <div class="md-toolbar-tools">
                <h2>CRM Metadata Browser</h2>
            </div>
        </md-toolbar>
    </header>
    <section class="crm-metadata-browser"
             style="display: none"
             ng-style="{ display: 'block' }"
             ng-controller="metadataBrowser.ui.controllers.crmMetadataBrowser as vm">
        <md-tabs md-selected="vm.navigationService.SelectedIndex"
                 md-dynamic-height
                 md-border-bottom>
            <md-tab label="Entities">
                <div ng-include="'templates/entity_list.html'"></div>
            </md-tab>
            <md-tab label="{{ entityTab.title }}"
                    ng-repeat="entityTab in vm.navigationService.EntityTabs">
                <entity-details data-entity="entityTab.entity"></entity-details>
            </md-tab>
        </md-tabs>        
        <!--<a href="javascript:void(0);" ng-click="vm.navigationService.DeleteEntityTab(entityTab)"><i class="fa fa-remove"></i></a>-->
    </section>
    <footer></footer>
    <script src="../../../../ClientGlobalContext.js.aspx"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
    <script src="../Scripts/Bundle.js"></script>
</body>
</html>