[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

pre {
    background-color: #ccc;
    padding: 20px;
}

table {
    border-spacing: 0;
    width: 100%;
}

    table thead th {
        background-color: #4c9ef0;
        color: #fff;
        padding: 12px 16px;
        text-align: left;
    }

    table tbody td {
        background-color: #e3ecf5;
        color: hsla(0, 0%, 0%, 0.87);
        padding: 12px 16px;
        text-align: left;
    }

    table tfoot td {
        color: hsla(0, 0%, 0%, 0.87);
        padding: 12px 16px;
        text-align: left;
    }

.md-tab .md-button {
    line-height: 24px;
    margin: 0 0 0 5px;
    min-height: 24px;
    min-width: 0;
    padding: 0;
}

.md-tab .md-button md-icon {
    font-size: 22px;
}

.advanced-view .advanced-view-item {
    margin: 5px 0;
}

.advanced-view .md-toolbar-tools {
    cursor: pointer;
}

.picklist-toggle {
    text-decoration: none;
}

.picklist {
}

    .picklist .options {
        display: inline-block;
        margin: 0;
        padding: 5px;
    }

        .picklist .options .option {
            font-size: 12px;
            font-weight: 400;
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

md-tooltip.picklist {
    height: auto;
}