<div class="crm-entity-list" ng-controller="metadataBrowser.ui.controllers.entityList as vm">
    <md-content class="md-padding">

        <md-progress-linear md-mode="indeterminate" ng-show="vm.isBusy"></md-progress-linear>

        <form name="SearchForm" ng-submit="vm.search()">

            <md-card>

                <md-card-title>
                    <md-card-title-text>                        
                        <span class="md-headline">Filter Entities</span>
                    </md-card-title-text>                    
                </md-card-title>

                <md-card-content layout="column">

                    <md-input-container class="md-block">
                        <input ng-model="vm.filter"
                               type="text"
                               placeholder="Logical Name"
                               required />
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-checkbox ng-disabled="vm.isBusy"
                                     ng-model="vm.advancedView"
                                     aria-label="Advanced View">
                            Advanced View
                        </md-checkbox>
                    </md-input-container>

                </md-card-content>
                
                <md-card-actions layout="row"
                                 layout-align="end center">

                    <md-button class="md-raised md-primary"
                               type="submit"
                               ng-disabled="SearchForm.$invalid || vm.isBusy"
                               title="Search">
                        <md-icon>search</md-icon> Search
                    </md-button>

                    <md-button class="md-raised"
                               ng-disabled="vm.isBusy"
                               ng-click="vm.clear()"
                               title="Clear filter">
                        <md-icon>clear</md-icon> Clear
                    </md-button>

                    <md-button class="md-raised"
                               ng-disabled="vm.isBusy"
                               ng-click="vm.export()"
                               title="Export to CSV">
                        <md-icon>save</md-icon> Export
                    </md-button>

                </md-card-actions>

            </md-card>
        </form>

        <div class="table-view" ng-if="!vm.isBusy && vm.entities.length && !vm.advancedView">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Display Name</th>
                        <th>Schema Name</th>
                        <th>Logical Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="entity in vm.entitiesToShow">
                        <td>
                            <md-button class="md-icon-button"
                                       ng-click="vm.openEntity(entity)">
                                <md-icon>open_in_new</md-icon>
                            </md-button>
                        </td>
                        <td>
                            <span ng-hide="entity.DisplayName.UserLocalizedLabel.Label">N/A</span>
                            <span ng-bind="entity.DisplayName.UserLocalizedLabel.Label"></span>
                        </td>
                        <td>
                            <span ng-bind="entity.SchemaName"></span>
                        </td>
                        <td>
                            <span ng-bind="entity.LogicalName"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <pager data-current-page="vm.currentPage"
                                   data-total="vm.total"
                                   data-page-size="vm.pageSize"></pager>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="advanced-view"
             ng-if="!vm.isBusy && vm.entities.length && vm.advancedView">
            <div class="advanced-view-item"
                 ng-repeat="entity in vm.entitiesToShow"
                 ng-init="expanded=false;">
                <md-toolbar>
                    <div class="md-toolbar-tools" ng-click="expanded=!expanded;">
                        <span ng-bind="entity.DisplayName.UserLocalizedLabel.Label"></span>
                        <span ng-bind="entity.SchemaName || entity.LogicalName"
                              ng-hide="entity.DisplayName.UserLocalizedLabel.Label"></span>
                    </div>
                </md-toolbar>
                <property-browser data-object="entity"
                                  ng-if="expanded"></property-browser>
            </div>
            <pager data-current-page="vm.currentPage"
                   data-total="vm.total"
                   data-page-size="vm.pageSize"></pager>
        </div>
    </md-content>
</div>