<div class="crm-entity-details">
    <md-content class="md-padding">

        <md-progress-linear md-mode="indeterminate" ng-show="vm.isBusy"></md-progress-linear>

        <form name="SearchForm">

            <md-card>

                <md-card-content layout="column">

                    <md-input-container class="md-block">
                        <input ng-model="vm.filter"
                               type="text"
                               placeholder="Filter attributes"
                               required />
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-checkbox ng-disabled="vm.isBusy"
                                     ng-model="vm.advancedView"
                                     aria-label="Advanced View">
                            Advanced View
                        </md-checkbox>
                    </md-input-container>

                </md-card-content>

                <md-card-actions layout="row"
                                 layout-align="end center">

                    <md-button class="md-raised md-primary"
                               ng-disabled="SearchForm.$invalid || vm.isBusy"
                               ng-click="search()"
                               title="Search">
                        <md-icon>search</md-icon> Search
                    </md-button>

                    <md-button class="md-raised"
                               ng-disabled="vm.isBusy"
                               ng-click="clear()"
                               title="Clear filter">
                        <md-icon>clear</md-icon> Clear
                    </md-button>

                    <md-button class="md-raised"
                               ng-disabled="vm.isBusy"
                               ng-click="export()"
                               title="Export to CSV">
                        <md-icon>save</md-icon> Export
                    </md-button>

                </md-card-actions>
            </md-card>
        </form>

        <div class="table-view" ng-if="vm.attributes.length && !vm.advancedView">
            <table>
                <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Logical Name</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attribute in vm.attributes | orderBy:'LogicalName'">
                        <td><span ng-bind="attribute.DisplayName.UserLocalizedLabel.Label || 'N/A'"></span></td>
                        <td><span ng-bind="attribute.LogicalName"></span></td>
                        <td>
                            <span ng-bind="attribute.AttributeType"></span>
                            <br />
                            <span ng-repeat="option in attribute.OptionSet.Options"><span ng-show="$index !== 0">,&nbsp;</span><span ng-bind="option.Label.UserLocalizedLabel.Label"></span>: <span ng-bind="option.Value"></span></span>
                        </td>
                        <td><span data-ng-bind="attribute.Description.UserLocalizedLabel.Label"></span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <span data-pager="" data-align="false" ng-model="vm.currentPage" data-total-items="vm.total" data-items-per-page="vm.pageSize"></span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="advanced-view" ng-if="vm.attributes.length && vm.advancedView">

            <div ng-repeat="attribute in vm.attributes | orderBy:'LogicalName'"
                 ng-init="expanded=false;">
                <md-toolbar>
                    <div class="md-toolbar-tools" ng-click="expanded=!expanded;">
                        <span ng-bind="attribute.DisplayName.UserLocalizedLabel.Label || 'N/A'"></span>
                        &nbsp;-&nbsp;
                        <span ng-bind="attribute.LogicalName"></span>
                    </div>
                </md-toolbar>
                <div data-property-browser=""
                     data-object="attribute"
                     ng-if="expanded"></div>
            </div>
            <!--<span data-pager=""
                    data-align="false"
                    ng-model="vm.currentPage"
                    data-total-items="vm.total"
                    data-items-per-page="vm.pageSize"></span>-->
        </div>

    </md-content>

</div>