<div class="crm-entity-details">
    <md-content class="md-padding">

        <md-progress-linear md-mode="indeterminate" ng-show="vm.isBusy"></md-progress-linear>

        <form name="SearchForm">

            <md-card>

                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Filter Attributes</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content layout="column">

                    <md-input-container class="md-block">
                        <input ng-model="vm.filter"
                               type="text"
                               placeholder="Logical Name"
                               required />
                    </md-input-container>

                    <md-input-container class="md-block">
                        <md-checkbox ng-disabled="vm.isBusy"
                                     ng-model="vm.advancedView"
                                     aria-label="Advanced View">
                            Advanced View
                        </md-checkbox>
                    </md-input-container>

                </md-card-content>

                <md-card-actions layout="row"
                                 layout-align="end center">

                    <md-button class="md-raised md-primary"
                               type="submit"
                               ng-disabled="SearchForm.$invalid || vm.isBusy"
                               ng-click="search()"
                               title="Search">
                        <md-icon>search</md-icon> Search
                    </md-button>

                    <md-button class="md-raised"
                               ng-disabled="vm.isBusy"
                               ng-click="clear()"
                               title="Clear filter">
                        <md-icon>clear</md-icon> Clear
                    </md-button>

                    <md-button class="md-raised"
                               ng-disabled="vm.isBusy"
                               ng-click="export()"
                               title="Export to CSV">
                        <md-icon>save</md-icon> Export
                    </md-button>

                </md-card-actions>
            </md-card>
        </form>

        <div class="table-view" ng-if="vm.attributes.length && !vm.advancedView">
            <table>
                <thead>
                    <tr>
                        <th>Display Name</th>
                        <th>Logical Name</th>
                        <th>Type</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attribute in vm.attributes">
                        <td><span ng-bind="attribute.DisplayName.UserLocalizedLabel.Label || 'N/A'"></span></td>
                        <td><span ng-bind="attribute.LogicalName"></span></td>
                        <td>
                            <span ng-bind="attribute.AttributeType"></span>
                            <picklist ng-if="attribute.AttributeType === 'Picklist'"
                                      data-entity="vm.entity"
                                      data-attribute="attribute"></picklist>
                        </td>
                        <td>
                            <span data-ng-bind="attribute.Description.UserLocalizedLabel.Label"></span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <pager data-current-page="vm.currentPage"
                                   data-total="vm.total"
                                   data-page-size="vm.pageSize"></pager>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="advanced-view" ng-if="vm.attributes.length && vm.advancedView">

            <div class="advanced-view-item"
                 ng-repeat="attribute in vm.attributes"
                 ng-init="expanded=false;">
                <md-toolbar>
                    <div class="md-toolbar-tools" ng-click="expanded=!expanded;">
                        <span ng-bind="attribute.DisplayName.UserLocalizedLabel.Label"></span>                        
                        <span ng-bind="attribute.LogicalName"
                              ng-hide="attribute.DisplayName.UserLocalizedLabel.Label"></span>
                    </div>
                </md-toolbar>
                <property-browser data-object="attribute"
                                  ng-if="expanded"></property-browser>
            </div>
            <pager data-current-page="vm.currentPage"
                   data-total="vm.total"
                   data-page-size="vm.pageSize"></pager>
        </div>

    </md-content>

</div>